language: android
dist: trusty
jdk:
- oraclejdk8
before_cache:
- rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
android:
  components:
  - tools
  - android-29
  - platform-tools
  - build-tools-29.0.2
  - extra-android-m2repository
  licenses:
  - android-sdk-license-[0-9a-f]{8}
  - android-sdk-preview-license-[0-9a-f]{8}
branches:
  only:
    - master
env:
  global:
    # zenSonatypeUsername
    - secure: "f3GhNIY38zsF8iMGyqKgWym/guM5xYTiMTtD2Asp2pqhQaIe6DXbuyKPJ4g6Wleyfa+GbzFlk81aa1QoilvwSkXqJSTwgSr/4mfqq/bOQLriW60r9HdLo8pU5U3v+uxR0146MVadN6ypYtjlJCjI5U0EloP7XfhT6bYqbH7YJHIRlX2MrAGaHuDS7goZJbKAE9E92qHcYqGeJv33kFKMS+e0TOmpOPB+Q3+1VdBoAwhblWaoFxbyEpHrgSs67U9WyutQUAQOEekuugUZOgXR+FL5P2m5NYUIc7zQmQu54Av8jhGJMjD/u6mGiGd/tbJSkEGzcUhE9Msxy7JRlCzO4oRwOfjwG/dY5egHehLy/Kykliki2BzbweLBsPcbTJbU7vQNghC6HU9U5VjjNt+9jIo924NPpT9ZY7HoIVKszl/P0gJoFv3SCaDnl6XwXcU89G7pjKy/6siF6l8Uo5wOJAo7asqeY799vpLduIO5F/6+HKsjpnvQL0qTxFHh64QjCfhRPT1CdnHgcMId7/7BQ19S7VUBGJyCDm162RW2ifwwDxRF1PwT4S6g68bgbQNKa69VjqtFLLopSJrc9jCQQvWyJtG3mv59NKOVX4LMbQRzeAMhIXPqa5qMZQhLRkt8b37385NZxjNM0QFNEIZKKGqR6O43KQPCTNpX3lqs+dQ="
    # zenSonatypePassword
    - secure: "bgGhWMCKTPH+MRm+8q3S26lLssSCJreibWOBc9F27h41f8uVJskTOWPqQnVK9yMlnaeJ8kojn67LpIIOSHXeBph11OeuCs40FSljqoqM8RwD8D0O1u54RVXccQFrUrGsAevewH+/xQlFeLBqit8ySLw+5qXD32TG+bIM1stPUm5z48Q9nId38aHRluZ6r9cj1+6UQjkDFK37I+Ld2TYdgK+yut9r6zg2MY7eQ5NrZJCSG4L9iV6kPf5LxgVmnx9ttVMdww4bLYZ5eXZJyED0Mq0dKwTQj8yvd/YbbM920aJvzhlunacUH2DrlUQpZ4td6ezXVi3Uoj9P0xjjQddPgw2id8IMOggmtUeqVagIe7vo7tU7CfvalowVJLh1rkKp0yyzwsBs1s/uFNRpcjM3Yfuukj6TBii22+Q/JTJ25qt/6MRvbOjBTP26QGoo2PmWtzz9Ga/FCD1TEge01NWu4UVVfpkCeiOZ2oyYjOQ0ky5+r+345btwOz8/EpFhiaeTdT+7YFKjzyRIMqC5vI3Ma2cZKT6I8v6NaLmq2SVUZ8eAWwZTAfGXWbWd/zWqWO8X/84ADa06vWMUsgu273Zl+T4RznArfUxe2/Tg9fTkjprkwCHonIqz54OgGswzVEJbDixHxBwKs75NxSMV9ckAPISy26hUM629NHJQcAk2GgQ="
script:
  - ./scripts/build.sh