<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zendesk.belvedere.ui">
    <!-- Required for granular permissions in Android 13. -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission
        android:maxSdkVersion="32"
        android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>
