<manifest
    package="com.zendesk.belvedere.ui"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity android:name=".ImageStream" android:theme="@style/BottomSheetTheme" />
    </application>

</manifest>
